{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="../static/css/div.css">

{% endblock %}

{% block body %}


<title>Carregamento de conteúdo</title>

<h1>Página content.html</h1>
    <script src="../static/js/clear_text.js"></script>
    <script defer src="../static/js/load_delete_txt.js"> </script>
    <script src="../static/js/redirect.js"></script>




<div>
    <button  type="button" id="voltar" onclick="pageRedirect('/index')">Voltar para index</button>
    <button  type="button" id="clear">Limpar texto</button>
</div>

<div>
    <input type="file" id="input">
    <textarea id="caixa_texto" placeholder="Texto aparecerá aqui" readonly cols="50" rows="20"></textarea>
</div>




{% endblock %}