{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block body %}


<title>Atividade 2</title>

<script src="../static/js/redirect.js"></script>

<button type="button" onclick="pageRedirect('/atividade2-conteudo')">Ir para conteúdo</button>
<button type="WR" onclick="pageRedirect('/atividade2-WR')">Ir para leituras e escritas</button>
<button type="load" onclick="pageRedirect('/atividade2-load')">Ir para carregamento de subpáginas</button>
<button type="load" onclick="pageRedirect('/pagina-login')">Pagina de Login</button>



{% endblock %}