<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Protegida</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>
    <h1>Funçoes protegidas</h1>



    <input type="hidden" value="{{token}}" id="token">

    <div>
        <button type="button" onclick="request('/atividade2-conteudo')">Ir para conteúdo</button>
        <button type="WR" onclick="request('/atividade2-WR')">Ir para leituras e escritas</button>
        <button type="load" onclick="request('/atividade2-load')">Ir para carregamento de subpáginas</button>
        <button type="load" onclick="request('/teste')">Dicionário</button>
        <button type="load" onclick="pageRedirect('/pagina-login')">Voltar para login</button>

        <a href="http://127.0.0.1:5000/">Ir para index</a>


    </div>




<div>
    <textarea id="caixa_texto" placeholder="Texto aparecerá aqui" readonly cols="50" rows="20"></textarea>
</div>



<script src="../static/js/request_header_pass.js"></script>
<script src="../static/js/redirect.js"></script>

</body>
</html>